
@model RWBTaskApi.Models.MarketPrice

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="body-content">
    <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">Price Lines</h2></div>

    </div>
    <div class="panel-body">

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name, new { @class="form-control" } )
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.EditorFor(model => model.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
    </div>
    <div class="panel-footer">
        <input type="submit" value="Update" class="btn btn-default"/>
    </div>   
</div>

}
@section Scripts {
<script type="text/javascript">
   
    $(document).ready(function () {
        $('.btn-up-price').click(function () {
            $.ajax({
                type: 'GET',
                url: 'task/UpLinePrice',
                dataType: 'json',
                success: function (data) {
                    console.log('completed');
                }
            });
        });

        $('.btn-down-price').click(function () {
            $.ajax({
                type: 'GET',
                url: 'task/DownLinePrice',
                dataType: 'json',
                success: function (data) {
                    console.log('completed');
                }
            });
            

        });
    })
</script>
}